.perf-index-page {
  @media (min-width: 1385px) {
    .my-box {
      width: 25% !important;
    }
  }
  .my-box {
    width: 50%;
    margin-bottom: 20px;
  }
  .filter {
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .box-card {
    height: 300px;
  }
  .item {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #666;
    font-weight: 100;
    .item-value {
      margin-left: 10px;
    }
    &>div {
      display: inline-block;
    }
  }
  .title {
    padding-left: 0 !important;
  }
  .el-card {
    min-width: 265px;
  }
  .table {
    width: 250px;
    height: 250px;
    margin: auto;
  }
}
