<div class="layout" v-loading="loading" element-loading-text="拼命加载中">
  <div class="top-bar">
    <ul class="top-left">
      <li class="nav-menu">
        <a href="/log">{{ title }}</a>
      </li>
    </ul>
    <ul class="top-right">
      <li class="nav-menu" v-if="User">
        欢迎 {{ User.name }} ，
        <el-button @click='logout' type="text">退出</el-button>
      </li>
    </ul>
  </div>
  <div class="main-body">
    <slot>默认界面</slot>
  </div>
  <div class="footer">
    Copyright © 2017 All Rights Reserved lixucheng.cn
  </div>
</div>
