body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

.fa {
  margin-right: 3px;
}

.a-btn {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.title-btn {
  position: absolute;
  right: 10px;
  margin-top: 7px;
  margin-right: 10px;
  min-width: 70px;
}
